.html,
body {
    padding: 0;
    margin: 0;
}

.card-head {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;



}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(6px) brightness(0.7);
    transform: scale(1.1);
    z-index: -1;
}

.overlay {
    position: absolute;
    inset: 0;

    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 400px;
   background: rgba(255, 255, 255, 0.2);
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.3);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;

    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#weatherForm {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.weather-text sup {
    font-weight: 10;
}

.weather-text h3 {
    font-weight: 10;
    margin-top: -20px;
}



#weatherForm input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: -5px;
    font-size: 15px;
    padding: 10px;

}

#weatherForm button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #2DD4BF;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;

}



.weather-details img {
    width: 200px;
    text-align: center;

}

.weather-text {
    margin-top: -10px;
}



.weather-text h3,
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;



}

.weather-text h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
    font-size: 50px;
}

.weather-text h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    font-size: 20px;
    text-transform: capitalize;
}

.icons {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
    color: #feffff;
    margin-top: 20px;
}

.icons img {
    width: 120px;


}

.humidity {
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: -30px;
    margin-top: -30px;

}

.text-hu h2 {
    margin-bottom: -15px;
    margin-left: -20px;
    font-weight: 100;
    font-size: 15px;
}

.text-hu h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    margin-left: -20px;
    font-size: 15px;

}

.wind {
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: 10px;
    margin-top: -30px;
}

.error {
    margin-top: 40px;
    background-color:#FF2E2E;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    
}

.error h1 {
    margin: 0;
    font-size: 15px;
    font-weight: 100;
}